<style type="text/css">#maincontent {
	margin-top: 0px;
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
	background: url(../img/beij.jpg);
}

img {
	position: absolute;
}

.nodeSmall {
	width: 60px;
	height: 50px;
	background: url(../img/bgs.png) no-repeat -159px -51px;
	position: fixed;
	right: 10px;
	top: 35%;
}

.erweima {
	position: absolute;
	top: 0;
	left: -150px;
}

.nodeSmall a {
	display: block;
	width: 50px;
	height: 50px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.mm {
	margin-top: 20px;
	width: 200px;
	height: 10px;
	background-color: green;
	position: absolute;
	left: 0;
	top: 0;
}

.box {
	width: 322px;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.box span {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.login-header {
	width: 100%;
	text-align: center;
	height: 30px;
	font-size: 24px;
	line-height: 30px;
}

.login {
	width: 512px;
	position: absolute;
	border: #ebebeb solid 1px;
	height: 280px;
	left: 50%;
	right: 50%;
	background: #ffffff;
	box-shadow: 0px 0px 20px #ddd;
	z-index: 9999;
	margin-left: -250px;
	margin-top: 140px;
	display: none;
}

.login-title {
	width: 100%;
	margin: 10px 0px 0px 0px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 18px;
	position: relative;
	cursor: move;
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

.login-input-content {
	margin-top: 20px;
}

.login-button {
	width: 50%;
	margin: 30px auto 0px auto;
	line-height: 40px;
	font-size: 14px;
	border: #ebebeb 1px solid;
	text-align: center;
}

.login-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000000;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	display: none;
}

#dl a {
	text-decoration: none;
	color: #000000;
}

.login-button a {
	display: block;
}

.login-input input.list-input {
	float: left;
	line-height: 35px;
	height: 35px;
	width: 350px;
	border: #ebebeb 1px solid;
	text-indent: 5px;
}

.login-input {
	overflow: hidden;
	margin: 0px 0px 20px 0px;
}

.login-input label {
	float: left;
	width: 90px;
	padding-right: 10px;
	text-align: right;
	line-height: 35px;
	height: 35px;
	font-size: 14px;
}

.login-title span {
	position: absolute;
	font-size: 12px;
	right: -20px;
	top: -30px;
	background: #ffffff;
	border: #ebebeb solid 1px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

#drv {
	margin-top: 0px;
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 800px;
	position: relative;
}

#weiz {
	margin-top: 0px;
	display: block;
	float: left;
	overflow: hidden;
	height: 800px;
	width: 100%;
}

.contenttext {
	display: block;
	color: black;
	float: left;
	width: 60%;
	text-align: left;
}

.contenttext h1,
.contenttext h2,
.contenttext h3,
.contenttext h4 {
	color: rgb(140, 9, 9);
}

.contenttext h3.headlines a {
	color: rgb(140, 9, 9);
}

.contentcolumn {
	background: blueviolet url() no-repeat;
	float: right;
	width: 20%;
	height: 700px;
	margin-right: 0;
}

.contentcolumn p {
	font-size: 1.1em;
	margin-left: 25px;
}

.contentcolumn ul {
	font-size: 1.1em;
}

.contentcolumn h3 {
	background: transparent url()no-repeat;
	position: relative;
	left: 0px;
	height: 26px;
	width: 315px;
	margin-top: 10px;
	padding-top: 16px;
	padding-left: 8px;
	font-size: 1.1em;
	z-index: 1;
	font-family: verdana "verdana, geneva, arial, helvetica, sans-serif";
}

.contentcolumn h3 span {
	margin-left: 10px;
}

.contentcolumn span.name {
	text-align: right;
	color: rgb(223, 58, 0);
	margin-right: 5px;
}

.contentcolumn a {
	color: rgb(255, 255, 255);
	padding-left: 10px;
}

.contentcolumn a:hover {
	color: rgb(80, 210, 122);
}

p.comments {
	text-align: right;
	font-size: 0.9em;
	font-weight: bold;
	padding-right: 10px;
}

.maincontent-bottom {
	background: transparent url() no-repeat scroll left bottom;
	clear: both;
	display: block;
	font-size: 0pt;
}

#loco {
	margin: 0 auto;
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 800px;
	position: relative;
}

.center {
	position: absolute;
	left: 30%;
	margin-top: 20px;
	text-align: center;
	width: 700px;
	height: 800px;
	/* border: 20px solid #000000; */
	/* -ms-transform: translate(-50%,-50%);
					 -moz-transform: translate(-50%,-50%);
					 -o-transform: translate(-50%,-50%); */
	/* 			 transform: translate(-50%,-50%); */
	/* border: 20px solid #000000; */
}

label {
	text-align: center;
}

.footer {
	background: transparent url() no-repeat scroll left bottom;
	margin-top: 5px;
	padding-top: 2px;
	height: 10%;
}

.footer p {
	text-align: center;
}

.footer a {
	color: rgb(255, 255, 255);
}

.footer a:hover {
	color: rgb(223, 58, 0);
}

p.iv {
	float: right;
	margin-right: 13px;
	font-size: 0.75em;
}

p.iv a {
	color: rgb(80, 210, 122);
}

body,
ul,
li {
	margin: 0;
	padding: 0;
	/*background: ;*/
}

a {
	text-decoration: none;
}

.top {
	height: 40px;
	width: 100%;
}

.width1 {
	width: 100%;
}

.width1 input {
	size: 20;
	maxlength=20;
}

.top a {
	color: #8A2BE2;
	font-size: 32px;
}

.top a:hover {
	color: #fff;
}

.container {
	margin: 0 auto;
}

.container::before,
.container::after .clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.container::after,
.clearfix::after {
	clear: both;
}

.top-nav {
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0;
	background-color: #000000;
	width: 100%;
}

.top-nav span {
	font-size: 12px;
	color: #000000;
	font-family: sans-serif;
	margin: 0.5em;
}

.headertitle {
	width: 100%;
	/*background-color: #F8F8F8;*/
	background: url(../img/tim.jpg);
}

.headertitle .header-title {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.headertitle .header-title a {
	color: #000000;
	font-size: 50px;
	display: block;
	background: no-repeat;
}

.headertitle .header-title a .lr {
	text-align: left;
	text-indent: -9992em;
}

.ico {
	width: 20px;
	height: 20px;
}

.header {
	width: 100%;
	height: 200px;
	overflow: hidden;
	/*background: #F8F8F8;*/
	background: url(../img/tim.jpg);
}

.header-nav {
	height: 100px;
	position: relative;
}

.header-nav .nav-list {
	width: 100%;
	height: 100%;
	font-size: 26px;
	padding: 10px 40px 40px 0px;
	position: absolute;
}

.header-nav .nav-list .nav-item {
	/*	list-style-type: none;*/
	float: left;
	width: 20%;
}

.header-nav .nav-list .nav-itemm {
	width: 20%;
	float: left;
	font-size: 27px;
}

.header-nav .nav-list .nav-itemm a {
	display: block;
	text-align: center;
	padding: 0px;
	color: #000000;
	margin: 20px 0px 0px;
}

.header-nav .nav-list .nav-item a {
	display: block;
	text-align: center;
	padding: 0px;
	color: #000000;
	margin-top: 20px;
}

.header-nav .nav-list .nav-item a img {
	margin: 30px 0px 0px;
}

.header-nav .nav-list .nav-itemm a img {
	margin: 30px 0px 0px;
}

.header-nav .nav-list .nav-itemm a:hover {
	color: chartreuse;
}

.header-nav .nav-list .nav-item a:hover {
	color: red;
}

ul {
	list-style-type: none;
}

.seckill {
	background-color: #000000;
}

.seckill-g {}

</style>